@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);


.google-image-layout img {
  visibility: hidden;
}

.google-image-layout img.layout-completed {
  visibility: visible;
}

.hidden-element {
  display: none;
  -webkit-transition: display .5s ease;
  -moz-transition: display .5s ease;
  -o-transition: display .5s ease;
}

.active-element {
  display: block;
  transition: display .5s ease;
  -webkit-transition: display .5s ease;
  -moz-transition: display .5s ease;
  -o-transition: display .5s ease;
}
